---
//fontmatter
const title = "My Astro Site";
const name = "Solah";
---

<html>
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>
	<body>
		<h1>Welcome to {title}</h1>
		<p>This is a simple Astro page {name}.</p>
	</body>
</html>